<!DOCTYPE html>
<html lang="en" ng-app="avitoApp">
<head>
    <meta charset="UTF-8">
    <title>Users addresses</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
    <script type="text/javascript" src="/public/js/ui-bootstrap-tpls-0.13.4.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script type="text/javascript" src="/public/js/avito.js"></script>
    <style>
        div.alert_inactive{position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: -10; display:none;}
        div.alert_active{position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 10; display:block; background-color:rgba(0, 0, 0, 0.7);}
    </style>
</head>
<body>
<div ng-controller="avitoCtrl">
    <div ng-class="{alert_inactive: isAlertInactive, alert_active: isAlertActive}" style="border: 1px solid black;">
        <div style="margin: 10% auto 0 auto; width: 350px;">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"> {{alert.msg}}</alert>
        </div>
    </div>
        <div style="margin: 40px 10px; width: 1224px;" class="row">
            <div class="col-sm-5" ><label>Name</label><input type="text" ng-model="name" class="form-control"></div>
            <div class="col-sm-1" ng-show="cur_mode=='Edit_user'"><label>Status</label>
                <select ng-model="cur_status" class="form-control"><option value="1">1</option><option value="2">2</option>
                <option value="3">3</option><option value="4th">4th</option><option value="5th">5th</option>
                </select>
            </div>
            <div class="col-sm-4"><label>Address</label><input type="text" ng-model="address" class="form-control"></div>
            <div class="col-sm-1" style="padding-top: 26px;"><button ng-click="sendData();" style="width: 80px;" class="btn btn-success">{{button_value}}</button></div>
            <div class="col-sm-1" style="padding-top: 26px;"><button ng-show="cur_mode=='Edit' || cur_mode=='Edit_user'" ng-click="cancelEdit();" style="width: 80px;" class="btn btn-success">Cancel</button></div>
        </div>

    <div style="margin: 30px;">
        <div class="row" style="width:1300px;">
            <div class="col-sm-6" style="width: 600px; border-right: 1px solid black; min-height: 400px;">
            <div><label>Filter</label><input type="text" ng-model="namef" class="form-control"></div>
            <div ng-repeat="user in users | filter:namef  | startFrom:(curUserPage-1)*maxSize | limitTo:maxSize" style="width: 576px;">
                <div class="row" style="margin-top: 3px; padding: 0px;"><div class="col-sm-9" style="font-size: 12pt;">{{user.name}} (<a href="#" ng-click="getAddressesList(user.id,user.name,user.status)">{{user.addresses}}</a>) <span style="color: red; font-size: 10pt;" ng-show="user.status != '3'">can't change address</span></div><div class="col-sm-3"><button class="btn btn-info" ng-click="editUser(user.id,user.name,user.status)">edit</button> <button class="btn btn-info" ng-click="deleteUser(user.id)">delete</button></div></div>
            </div>
             <pagination total-items="totalUsers" ng-model="curUserPage" items-per-page="maxSize" ng-show="totalUsers > 7" class="pagination-sm" boundary-links="true" rotate="false" max-size="maxSize" next-text = ">" previous-text="<" first-text="<<" last-text=">>"></pagination>
            </div>

            <div class="col-sm-6" style="width: 600px; margin-left: 20px; ">
            <div ng-show="cur_id != 0"><a href="#" style="text-decoration: none; border-bottom: 1px dashed;" ng-click="getUniqueAdressesList()">Unique addresses</a></div>
            <h3 style="text-align: center;">Адреса {{cur_name}}</h3>
            <div ng-repeat="address in addresses  | startFrom:(curAddressPage-1)*maxSize | limitTo:maxSize" style="width: 600px;">
                <div class="row" style="margin-top: 3px; padding: 0px;"><div class="col-sm-9" style="font-size: 14pt;">{{address.val}} </span></div><div class="col-sm-3"><button ng-show="cur_status == '3' && cur_id > 0 && cur_mode=='Add'" ng-click="editAddress(address.id,address.val)" class="btn btn-info">edit</button> <button class="btn btn-info" ng-show="cur_id > 0 && cur_mode=='Add'" ng-click="deleteAddress(address.id)">delete</button></div> </div>
            </div>
            <pagination total-items="totalAddresses" ng-model="curAddressPage" items-per-page="maxSize" ng-show="totalAddresses > 7" class="pagination-sm" boundary-links="true" rotate="false" max-size="maxSize" next-text = ">" previous-text="<" first-text="<<" last-text=">>"></pagination>
            </div>
        </div>
    </div>
    <div style="font-size: 10pt; padding: 30px;">
         При добавлении адреса для существующего пользователя необходимо предварительно вывести список его адресов (ссылка с количеством адресов в списке пользователей).
         Можно добавить пользователя с адресом или без. Статус пользователя по умолчанию "2", изменить его можно при редактированиии данных.
    </div>
</div>

</body>
</html>